<div class="p-8 bg-white min-h-screen">
  <app-data-table
    [columns]="columns()"
    [data]="visibleEvents()"
    [tableTitle]="pageTitle()"
    noDataLabel="events.noData"
    [showPaginator]="true"
    [pageSizeOptions]="[5, 10, 25, 100]"
    (sortChange)="handleSortChange($event)"
  >
    <app-back-button dataTableTitlePrefix />

    <button
      dataTableActions
      mat-button
      class="filter-button"
      type="button"
      (click)="clearFilters()"
      [disabled]="!hasActiveFilters()"
      aria-label="Clear event filters"
    >
      {{ 'events.clearFilters' | transloco }}
    </button>

    <ng-template appDataTableFilterDef="name">
      <mat-form-field appearance="outline">
        <mat-label>{{ 'events.eventNameColumn' | transloco }}</mat-label>
        <input matInput [value]="nameFilter()" (input)="setNameFilter($any($event.target).value)" />
      </mat-form-field>
    </ng-template>

    <ng-template appDataTableFilterDef="date">
      <span class="filter-menu-label">{{ 'events.eventDateYear' | transloco }}</span>
      @for (year of dateYearOptions(); track year) {
        <mat-checkbox
          [checked]="isDateYearSelected(year)"
          (change)="toggleDateYearFilter(year, $event.checked)"
        >
          {{ year }}
        </mat-checkbox>
      }
      <span class="filter-menu-label">{{ 'events.eventDateMonth' | transloco }}</span>
      @for (month of dateMonthOptions(); track month) {
        <mat-checkbox
          [checked]="isDateMonthSelected(month)"
          (change)="toggleDateMonthFilter(month, $event.checked)"
        >
          {{ getMonthLabel(month) | date: 'MMMM' }}
        </mat-checkbox>
      }
    </ng-template>

    <ng-template appDataTableFilterDef="status">
      @for (status of statusOptions(); track status) {
        <mat-checkbox
          [checked]="isStatusSelected(status)"
          (change)="toggleStatusFilter(status, $event.checked)"
        >
          {{ 'events.eventStatus' + (status | titlecase) | transloco }}
        </mat-checkbox>
      }
    </ng-template>

    <ng-template appDataTableFilterDef="type">
      @for (type of typeOptions(); track type) {
        <mat-checkbox
          [checked]="isTypeSelected(type)"
          (change)="toggleTypeFilter(type, $event.checked)"
        >
          {{ 'events.eventType' + (type | titlecase) | transloco }}
        </mat-checkbox>
      }
    </ng-template>

    <ng-template appDataTableCellDef="date" let-event>
      {{ event.startDate | date: 'mediumDate' }}
      @if (displayEventEndDate(event)) {
        <span> - {{ event.endDate | date: 'mediumDate' }} </span>
      }
    </ng-template>

    <ng-template appDataTableCellDef="status" let-event>
      <span
        class="status-badge px-3 py-1.5 text-xs font-medium rounded-full border inline-block whitespace-nowrap"
        [ngClass]="getStatusBadgeClass(event.status)"
      >
        {{ 'events.eventStatus' + (event.status | titlecase) | transloco }}
      </span>
    </ng-template>

    <ng-template appDataTableCellDef="type" let-event>
      {{ 'events.eventType' + (event.type | titlecase) | transloco }}
    </ng-template>

    <ng-template appDataTableCellDef="participantStatus" let-event>
      @if (event.isCheckedIn) {
        <span
          class="flex items-center justify-center gap-1 text-green-600 font-medium"
          [title]="'events.checkedIn' | transloco"
        >
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          {{ 'events.checkedIn' | transloco }}
        </span>
      } @else if (event.isRegistered) {
        <span
          class="flex items-center justify-center gap-1 text-blue-600 font-medium"
          [title]="'events.registered' | transloco"
        >
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
            ></path>
          </svg>
          {{ 'events.registered' | transloco }}
        </span>
      } @else {
        <span class="text-gray-400">-</span>
      }
    </ng-template>

    <ng-template appDataTableCellDef="actions" let-event>
      <button
        mat-stroked-button
        (click)="manageEvent(event.id)"
        class="event-view-button transition-colors whitespace-nowrap"
      >
        {{ 'events.eventViewButton' | transloco }}
      </button>
    </ng-template>
  </app-data-table>
</div>
