@use '@angular/material' as mat;
@use 'tailwindcss';

@font-face {
  font-family: 'Carnac';
  src: url('../public/fonts/fonnts.com-carnac-reg.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

:root {
  --dark-red-dot: #a01441;
  --dark-grey: #6f6f6f;
  --light-grey: #ededed;
  --tick-purple: #8474c5;
  --card-pink: #f3eaed;
  --active-white: #f3f4f6;
  --brand-maroon: #8a1538;
  --brand-maroon-hover-bg: rgba(138, 21, 56, 0.05);
}

html {
  height: 100%;

  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: (
        plain-family: 'Carnac, sans-serif',
        brand-family: 'Carnac, sans-serif',
      ),
      density: 0,
    )
  );
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font-family: 'Carnac', sans-serif;
  color: var(--mat-sys-on-surface);
  margin: 0;
  height: 100%;
}

.nav-button {
  text-decoration: none;

  &:hover {
    text-decoration-line: underline;
    text-decoration-color: var(--dark-red-dot);
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;

    .mat-mdc-button-persistent-ripple {
      background-color: transparent;
      opacity: 0;
    }
  }
}
.nav-icon-button {
  position: relative;

  --mat-icon-button-state-layer-color: transparent;

  &:hover {
    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 50%;
      transform: translateX(-50%);
      width: 24px;
      height: 2px;
      background-color: var(--dark-red-dot);
    }
  }
}
