:host {
  display: flex;
  flex-direction: column;
  min-height: calc(100dvh - 5rem);
}

::ng-deep .mat-mdc-form-field-error-wrapper {
  position: relative !important;
}

/* suppress the browser's built-in password-reveal button */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}
