:host {
  display: block;
  height: 100dvh;
  overflow-y: auto;
}

::ng-deep .mat-mdc-form-field-error-wrapper {
  position: relative !important;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
