:host {
  display: block;
  height: calc(100dvh - 5rem);
  overflow: hidden;
}

mat-form-field {
  width: 100%;
}

.profile-avatar {
  background-color: var(--brand-maroon);
}

.save-button {
  background-color: var(--brand-maroon);
  color: white;
}

.save-button--disabled {
  background-color: var(--disabled-button-border);
  color: var(--disabled-button-text);
}

